@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asset</title>
</head>
<body>
    <h2>Assets</h2>
    <p><a href="#">Add New</a></p>
    
    <table class="table">
        <tr>
            <th>
                Asset Name | 
            </th>
            <th>
                Model | 
            </th>
            <th>
                Type | 
            </th>
            <th>
                Status | 
            </th>
            <th>
                Assigned To | 
            </th>
            <th>
                Location | 
            </th>
            <th>
                Cost | 
            </th>
            <th></th>
        </tr>

    </table>
</body>
</html>



